<div class="container" style="height: 25vh; display: flex; flex-direction: column; justify-content: flex-end;"></div>
<footer>
<div class="card mt-5" style="background-color:#015958; text-align: center;">
    <div class="card-header" style=" background-color: #024554;"><strong>
      <img src="../../assets/c-circle.svg" alt="">
      Copyright</strong>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p style="color: white"><strong>Let Us Help You</strong></p>
        <p class="blockquote-footer">COVID-19 and Nellai Market Your Account Returns Centre 100% Purchase Protection Nellai Market App Download Help</p>
      </blockquote>
    </div>
  </div>
</footer>