<app-navbar (searchValue)="getValue($event)"></app-navbar>
<h1></h1>
<div class="container">
  <div class="row">
    <div class="col col-md-4 d-flex justify-content-center align-items-center" *ngFor=" let product of productItems; ">
      <div class="card mt-4" style="width: 18rem;">
        <div (click)="newPage(product)">
        <h5 class="card-header">{{product.name}}</h5>
        <div class="card-body">
          <img class="card-img-top mx-auto d-block" [src]="product.url" alt="product.alt">
          <p class="card-text"></p>
          
          <div>Color: {{product.color}}</div>
          <div>Price: {{product.cost | currency: 'INR'}}</div>
        </div>
      </div>
      <div>
        <span class="star" [ngClass]="{'filled': product.rating >= 1}" (click)="rate(product, 1)">&#9733;</span>
        <span class="star" [ngClass]="{'filled': product.rating >= 2}" (click)="rate(product, 2)">&#9733;</span>
        <span class="star" [ngClass]="{'filled': product.rating >= 3}" (click)="rate(product, 3)">&#9733;</span>
        <span class="star" [ngClass]="{'filled': product.rating >= 4}" (click)="rate(product, 4)">&#9733;</span>
        <span class="star" [ngClass]="{'filled': product.rating >= 5}" (click)="rate(product, 5)">&#9733;</span>
      </div>
        <div class="card-footer">
          <div class="row ">
            <div class="col">
              <div>
                <a class="btn btn-info" (click)="buyNow(product)">Buy Now</a>
              </div>
            </div>
            <div class="col">
              <a class="btn btn-warning"  *ngIf="product['status'] !== 'In Cart'" (click)="addToCart(product)">Add To Cart</a>
                <button class="btn btn-warning" *ngIf="product['status'] === 'In Cart'" routerLink="/cart">Go To Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->




<app-footer></app-footer>